.chb-margin-righ {
  margin-right: 15px;
}

.marg {
  margin-right: 10px;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

.row .col.s3 {
  padding-top: 33px;
  padding-left: 10px;
}

.generate {
  margin-left: 50px;
}
